In [118]:
# Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [119]:
# Importing boat dataframe
path = r'C:\Users\ztrim\07-2025 Boat Sales Analysis'

In [120]:
path

'C:\\Users\\ztrim\\07-2025 Boat Sales Analysis'

In [121]:
# Import boat sales dataframe
df = pd.read_csv(r'C:\Users\ztrim\07-2025 Boat Sales Analysis\02 Data\Original Data\boat_data.csv', index_col = False)

In [122]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

## Cleaning the Dataset

In [123]:
# Step 1: Backup the original Location column
df['Location_backup'] = df['Location'].copy()

In [124]:
# Step 2: Decode and clean the Location column
df['Location'] = df['Location'].apply(lambda x: x.encode('latin1').decode('utf-8', errors='ignore') if isinstance(x, str) else x)
df['Location'] = df['Location'].str.replace('Â»', '»', regex=False)  # Replace incorrectly encoded separator
df['Location'] = df['Location'].str.replace('Â', '', regex=False)   # Remove leftover 'Â'

In [125]:
# Step 3: Create a version of Location without the separator.
df['Location_cleaned'] = df['Location'].str.replace('»', '', regex=False).str.strip()

In [126]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Location_backup,Location_cleaned
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland » Lake Geneva » Vésenaz,226,Switzerland Â» Lake Geneva Â» VÃ©senaz,Switzerland Lake Geneva Vésenaz
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany » Bönningstedt,75,Germany Â» BÃ¶nningstedt,Germany Bönningstedt
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland » Lake of Zurich » Stäfa ZH,124,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,Switzerland Lake of Zurich Stäfa ZH
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark » Svendborg,64,Denmark Â» Svendborg,Denmark Svendborg
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany » Bayern » München,58,Germany Â» Bayern Â» MÃ¼nchen,Germany Bayern München

In [127]:
# Step 4: Seperate countries into a new column on their own and add 'NA' to empty cells.
df['Country'] = df['Location_cleaned'].apply(
    lambda x: x.split()[0] if isinstance(x, str) and x.strip() else 'NA'
)

In [128]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Location_backup,Location_cleaned,Country
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland » Lake Geneva » Vésenaz,226,Switzerland Â» Lake Geneva Â» VÃ©senaz,Switzerland Lake Geneva Vésenaz,Switzerland
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany » Bönningstedt,75,Germany Â» BÃ¶nningstedt,Germany Bönningstedt,Germany
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland » Lake of Zurich » Stäfa ZH,124,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,Switzerland Lake of Zurich Stäfa ZH,Switzerland
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark » Svendborg,64,Denmark Â» Svendborg,Denmark Svendborg,Denmark
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany » Bayern » München,58,Germany Â» Bayern Â» MÃ¼nchen,Germany Bayern München,Germany

In [129]:
# Step 5: Drop the 'Location' and 'Location_backup' columns
df.drop(columns=['Location', 'Location_backup'], inplace=True)

In [130]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,Location_cleaned,Country
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,226,Switzerland Lake Geneva Vésenaz,Switzerland
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,Germany Bönningstedt,Germany
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,Switzerland Lake of Zurich Stäfa ZH,Switzerland
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,64,Denmark Svendborg,Denmark
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,Germany Bayern München,Germany

In [131]:
# Step 6: Rename the Location_cleaned to full_location
df.rename(columns={'Location_cleaned': 'FullLocation'}, inplace=True)

In [132]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,FullLocation,Country
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,226,Switzerland Lake Geneva Vésenaz,Switzerland
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,Germany Bönningstedt,Germany
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,Switzerland Lake of Zurich Stäfa ZH,Switzerland
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,64,Denmark Svendborg,Denmark
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,Germany Bayern München,Germany

In [133]:
# Step 7: Changing all the weird charecters in the 'Manufecturer' column to readable words.
# Strip any extra whitespace
df['Manufacturer'] = df['Manufacturer'].str.strip()

# Replace all corrupted entries with clean ones
df['Manufacturer'] = df['Manufacturer'].replace({
    'BÃ©nÃ©teau power boats': 'Bénéteau power boats',
    'MÃ¤ndli power boats': 'Mändli power boats',
    'SkilsÃ¶ power boats': 'Skilsö power boats',
    'FÃ¼llemann power boats': 'Füllemann power boats',
    'ManÃ² power boats': 'Manò power boats',
    'Ãchsner power boats': 'Öchsner power boats',
    'LÃ¼rssen power boats': 'Lürssen power boats',
    'LÃ¼rssen Yachts power boats': 'Lürssen power boats',
    'KaasbÃ¸ll power boats': 'Kaasbøll power boats',
    'TigÃ© power boats': 'Tigé power boats',
    'HervÃ© power boats': 'Hervé power boats',
    'Holland StahlverdrÃ¤nger power boats': 'Holland Stahlverdränger power boats',
    'LÃ¼tje power boats': 'Lütje power boats'
})

In [134]:
df[df['Manufacturer'].str.contains('Ã|Â|¼|¬|Ÿ', na=False)]

Empty DataFrame
Columns: [Price, Boat Type, Manufacturer, Type, Year Built, Length, Width, Material, Number of views last 7 days, FullLocation, Country]
Index: []

In [135]:
print(df.columns)

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length',
       'Width', 'Material', 'Number of views last 7 days', 'FullLocation',
       'Country'],
      dtype='object')

In [136]:
# Step 9: Fill in empty cells in 'Material' column with 'Unknown'
df['Material'] = df['Material'].fillna('Unknown')

In [137]:
print(df['Material'].isnull().sum())

0

In [138]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,FullLocation,Country
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Unknown,226,Switzerland Lake Geneva Vésenaz,Switzerland
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,Germany Bönningstedt,Germany
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,Switzerland Lake of Zurich Stäfa ZH,Switzerland
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Unknown,64,Denmark Svendborg,Denmark
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,Germany Bayern München,Germany

In [139]:
# Step 10: Renaming column names for consistency and ease of use.
df.rename(columns={
    'Boat Type': 'BoatType',
    'Year Built': 'YearBuilt',
    'Number of views last 7 days': 'ViewsLast7Days'
}, inplace=True)

In [140]:
print(df.columns)

Index(['Price', 'BoatType', 'Manufacturer', 'Type', 'YearBuilt', 'Length',
       'Width', 'Material', 'ViewsLast7Days', 'FullLocation', 'Country'],
      dtype='object')

In [141]:
# Step 11 change cells with '0' in YearBuilt to 'Unknown'
df['YearBuilt'] = df['YearBuilt'].replace(0, 'Unknown')

In [142]:
df[['Width', 'YearBuilt']].isnull().sum()

Width        56
YearBuilt     0
dtype: int64

In [143]:
# Step 12: Create a flag for missing values in 'Width' and 'Manufacturer' columns.
df['Width_missing'] = df['Width'].isna()
df['Manufacturer_missing'] = df['Manufacturer'].isna()

In [144]:
df.head()

,Price,BoatType,Manufacturer,Type,YearBuilt,Length,Width,Material,ViewsLast7Days,FullLocation,Country,Width_missing,Manufacturer_missing
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Unknown,226,Switzerland Lake Geneva Vésenaz,Switzerland,False,False
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,Germany Bönningstedt,Germany,False,False
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,Unknown,3.69,1.42,Aluminium,124,Switzerland Lake of Zurich Stäfa ZH,Switzerland,False,False
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Unknown,64,Denmark Svendborg,Denmark,False,False
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,Germany Bayern München,Germany,False,False

In [145]:
print(df.dtypes)

Price                    object
BoatType                 object
Manufacturer             object
Type                     object
YearBuilt                object
Length                  float64
Width                   float64
Material                 object
ViewsLast7Days            int64
FullLocation             object
Country                  object
Width_missing              bool
Manufacturer_missing       bool
dtype: object

In [146]:
df.isnull().sum()

Price                      0
BoatType                   0
Manufacturer            1338
Type                       6
YearBuilt                  0
Length                     9
Width                     56
Material                   0
ViewsLast7Days             0
FullLocation              36
Country                    0
Width_missing              0
Manufacturer_missing       0
dtype: int64

In [147]:
# Removing flag columns as decided to fill in the missing values other ways
df.drop(columns=['Width_missing', 'Manufacturer_missing'], inplace=True)

In [148]:
print(df.columns)

Index(['Price', 'BoatType', 'Manufacturer', 'Type', 'YearBuilt', 'Length',
       'Width', 'Material', 'ViewsLast7Days', 'FullLocation', 'Country'],
      dtype='object')

In [149]:
# Step 13: Fill in missing values with 'Missing' in the following columns: Manufacturer, Type and FullLocation.
df['Manufacturer'] = df['Manufacturer'].fillna('Missing')
df['Type'] = df['Type'].fillna('Missing')
df['FullLocation'] = df['FullLocation'].fillna('Missing')

In [150]:
# Check if that worked
df.isnull().sum()

Price              0
BoatType           0
Manufacturer       0
Type               0
YearBuilt          0
Length             9
Width             56
Material           0
ViewsLast7Days     0
FullLocation       0
Country            0
dtype: int64

## I am leaving numerical columns 'Length' and 'Width' with missing values (empty cells) as adding 'Missing' will convert them to object which I don't want and changing them to -1 can skew my visualisations.

In [151]:
# Step 14: Spliting 'Price' Column into 2 columns 'Currancy' and numeric 'Price'
df[['Currency', 'Price']] = df['Price'].str.extract(r'([A-Z]{2,3})\s*(\d+(?:\.\d+)?)')

In [152]:
# Convert 'Price' column to float
df['Price'] = df['Price'].astype(float)

In [162]:
# Reorder columns to put 'Currency' and 'Price' first
cols = df.columns.tolist()
new_order = ['Currency', 'Price'] + [col for col in cols if col not in ['Currency', 'Price']]
df = df[new_order]

In [154]:
df.head()

,Currency,Price,BoatType,Manufacturer,Type,YearBuilt,Length,Width,Material,ViewsLast7Days,FullLocation,Country
0,CHF,3337.0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Unknown,226,Switzerland Lake Geneva Vésenaz,Switzerland
1,EUR,3490.0,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,Germany Bönningstedt,Germany
2,CHF,3770.0,Sport Boat,Marine power boats,new boat from stock,Unknown,3.69,1.42,Aluminium,124,Switzerland Lake of Zurich Stäfa ZH,Switzerland
3,DKK,25900.0,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Unknown,64,Denmark Svendborg,Denmark
4,EUR,3399.0,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,Germany Bayern München,Germany

## Reviewing the variables and performing basic descriptive statistical analysis.

In [159]:
# NOTES: Thoughout the cleaning process I already checked for Mixed-Type Data and missing values.

In [160]:
df.describe()

              Price       Length        Width  ViewsLast7Days
count  9.590000e+03  9879.000000  9832.000000     9888.000000
mean   3.068174e+05    11.570017     3.520124      149.160801
std    9.919208e+05     6.002820     1.220534      151.819752
min    3.300000e+03     1.040000     0.010000       13.000000
25%    4.300000e+04     7.470000     2.540000       70.000000
50%    9.400000e+04    10.280000     3.330000      108.000000
75%    2.490000e+05    13.930000     4.250000      172.000000
max    3.100000e+07   100.000000    25.160000     3263.000000

In [161]:
# Step 15 Checking for duplicate rows
df.duplicated().sum()

0

In [163]:
# Step 15: Exporting the dataframe to 'Prepared Data' folder. 
df.to_csv(r'C:\Users\ztrim\07-2025 Boat Sales Analysis\02 Data\Prepared Data\cleaned_boat_data.csv', index=False)